body {
    background-color: #AAE;
}

/**
 * STAGES STYLING
 */

.stage {
  border: outset;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-grow: 1;  

}

.square {
  border-top : 1px solid #333;
  border-right: 1px solid #333;  
  opacity: 0.8;
  flex-grow: 1;
  display: flex;
}

.reachable {
  background-color: #AEA;
}

#screen {
  width : 600px;
  height: 600px;
  background-color: #EAA;
}

#screen_B {
  margin-top: 20px;
  width : 840px;
  height: 200px;
  background-color: #EAA;
}

/**
 * Unit Styling
 */
 .unit {
   flex-grow: 1;  
   background-color: #FF7800;
 }
















